.hide {
    opacity: 0;
}

.is-hover:hover {
    font-weight: bold;
    cursor: pointer;
}

.fade {
    opacity: 1;
    transition: opacity .5s;
}

.display-none {
    display: none;
}

#know-more:hover {
    cursor: pointer;
    font-weight: bold;
}

.my-navbar {
    border-bottom: 1px solid #f5f5f5;
}